body{
    margin: 0px;
}
.heada{
    text-align: end;
    margin-right: 25px;
    margin-top: 20px;
}
.heada a{
    margin: 0px 5px 0px 0px;
    color:rgba(0,0,0,.87);
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 15px;
}
.heada a:hover{
    text-decoration: underline;
}
.img{
    width: fit-content;
    margin: auto;
    margin-top: 80px;
}
.icon{
    width: fit-content;
    margin: auto;
    height: 24px;
}
.searchbar{
    width: 90%;
    border: none;
    border-radius: 30px;
    height: 48px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px 20px 0px 10px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    margin-top: 60px;
    margin-bottom: 50px;
    box-sizing: border-box;
    
}
input{
    width: 100%;
    border: none;
    outline: 0;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 5px;
}
#about a{
    color: rgb(45, 116, 247);
    text-decoration: none;
}
#about p{
    font-size: 15px;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-weight: 700;
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
@media (min-width: 600px) {
    .searchbar{
        width: 570px;
    }
}